{% extends 'base.html.twig' %}

{% block title %}Changelog{% endblock %}

{% block body %}
    <div class="mx-auto max-w-screen-2xl px-5 py-24 md:py-36">
        <div class="opacity-75 fixed inset-0 -z-[1] overflow-hidden blur-[100px] select-none pointer-events-none">
            <div class="top-2/5 left-3/5 w-[700px] h-[700px] -z-[2] bg-swipe-100 absolute rounded-full opacity-60 ease-gradient animate-gradient-1"></div>
            <div class="top-3/5 left-2/5 w-[600px] h-[600px] -z-[1] bg-swipe-500 absolute rounded-full opacity-60 ease-gradient animate-gradient-2"></div>
            <div class="top-1/2 left-1/2 w-[500px] h-[500px] -z-[3] bg-swipe-900 absolute rounded-full opacity-60 ease-gradient animate-gradient-3"></div>
        </div>

        <article class="w-full max-w-none prose lg:prose-xl prose-invert">
            {{ changeLogContent|markdown_to_html }}
        </article>
    </div>
{% endblock %}