{% set text = '' %}
{% set color = '#ffffff' %}

{% for data in widgetData %}
    {% if data.dataName == "text" %}
        {% set text = data.dataValue %}
    {% elseif data.dataName == "color" %}
        {% set color = data.dataValue %}
    {% endif %}
{% endfor %}

<p class="text-xl font-bold text-gray-800">{{ text }}</p>
<input type="color" value="{{ color }}" class="w-full h-10 mt-2 border-none" />