<div class="swiper-slide">
    <div class="p-8 h-full w-full relative text-center text-lg flex justify-center items-center bg-cover bg-no-repeat bg-center"
         style="background-image: url({{ slide.image.src }})">
        {{ include('_components/_swipe.logo.html.twig') }}
        {{ include('_components/_swipe.title.html.twig') }}
        {{ include('_components/_swipe.button.html.twig') }}
    </div>
</div>