<div class="swiper-slide">
    <div class="h-full w-full relative text-center text-lg">
        {{ include('_components/_swipe.video.html.twig') }}
        <div class="p-8 relative flex justify-center items-center h-full w-full">
            {{ include('_components/_swipe.logo.html.twig') }}
            {{ include('_components/_swipe.title.html.twig') }}
            {{ include('_components/_swipe.button.html.twig') }}
        </div>
    </div>
</div>