<div class="h-screen w-full relative text-center text-lg">
    {{ include('_components/_swipe.video.html.twig') }}
    <div class="p-8 h-full w-full relative">
        {{ include('_components/_swipe.logo.html.twig') }}
        {{ include('_components/_swipe.title.html.twig') }}
        {{ include('_components/_swipe.button.html.twig') }}
    </div>
</div>
