<div class="h-[100dvh] w-full relative text-center text-lg">
    {{ include('_components/_swipe.video.html.twig') }}
    <div class="p-8 h-full w-full relative">
        {{ include('_components/_swipe.logo.html.twig', {
            swipeup: swipeup
        }) }}
        <div class="relative py-8 flex justify-center items-center h-2/3">
            {% if swipe.widgetBody %}
                {{ include('_components/_widget_body.html.twig', {
                    swipe: swipe,
                    widget: swipe.widgetBody.widget,
                    data: swipe.widgetBody.widgetData,
                }) }}
            {% endif %}
        </div>
        <div class="h-1/6 flex items-start justify-center relative">
            {% if swipe.widgetFooter %}
                {{ include('_components/_widget_footer.html.twig', {
                    swipe: swipe,
                    widget: swipe.widgetFooter.widget,
                    data: swipe.widgetFooter.widgetData,
                }) }}
            {% else %}
                <div class="block">
                    <div class="down-arrow cursor-pointer"
                         data-action="click->swiper#nextSlide"
                    ></div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
