@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.spotlight {
  background: linear-gradient(45deg, #00dc82, #36e4da 50%, #0047e1);
  bottom: -40vh;
  filter: blur(20vh);
  height: 50vh;
  animation: gradie 10s infinite;
}
@keyframes gradie {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}