<div class="bg-black/50 absolute h-full w-full"></div>
<video autoplay
       playsinline
       loop
       muted
       class="absolute -z-10 inset-0 w-full h-full object-cover">
    <source src="{{ vich_uploader_asset(swipe.background, 'backgroundFile') }}" type="{{ swipe.background|get_mime('backgroundFile') }}">
    Votre navigateur ne supporte pas la balise video.
</video>
