<div class="absolute p-8 left-1/2 transform -translate-x-1/2 top-0 max-w-xs w-full h-auto">
    <img src="{{ vich_uploader_asset(swipe, 'logoFile') }}"
         alt="Logo de {{ swipe.title }}"
         class="rounded-xl">
</div>