<div class="relative flex justify-center top-0 h-1/6">
    <img src="{{ vich_uploader_asset(swipe, 'logoFile') }}"
         alt="Logo de {{ swipe.title }}"
         class="rounded-full h-24 w-24 object-contain bg-black">
</div>