<div class="relative flex justify-center top-0 h-1/6">
    <img src="{{ vich_uploader_asset(swipeup, 'logoFile') }}"
         alt="Logo de {{ swipeup.title }}"
         class="rounded-full h-24 w-24 object-contain">
</div>