<div class="bg-white rounded-xl flex">
    <div class="flex items-center justify-center w-8 h-auto">
        {{ heroicon('bars-4', 'solid', {
            'class': "fill-black w-4 h-4",
        }) }}
    </div>
    {{ include('_components/create/form/_form.html.twig') }}
</div>