<div class="bg-white rounded-xl pl-6">
    {{ include('_components/create/form/_form.html.twig', {
        stimulus_controller_name: 'swipe-section',
        stimulus_action_name: 'revert',
        cancelText: "Annuler la création",
        intro,
    }) }}
</div>