{# templates/_components/create/form/text.html.twig #}

<div class="specific-widget space-y-2 py-4">
    {{ form_widget(form[widget ~ 'Data'].text) }}
    {{ form_row(form[widget ~ 'Data'].color) }}
</div>