{% extends 'base.html.twig' %}


{% block body %}
    <div class="container px-4 mx-auto max-w-3xl text-white relative">
        <div class="container mx-auto flex px-5 py-24 md:pt-48 md:flex-row flex-col items-center">
            <div class="opacity-75 absolute inset-0 -z-[1] overflow-hidden blur-[100px] select-none pointer-events-none">
                <div class="top-2/5 left-3/5 w-[700px] h-[700px] -z-[2] bg-swipe-100 absolute rounded-full opacity-60 ease-gradient animate-gradient-1"></div>
                <div class="top-3/5 left-2/5 w-[600px] h-[600px] -z-[1] bg-swipe-500 absolute rounded-full opacity-60 ease-gradient animate-gradient-2"></div>
                <div class="top-1/2 left-1/2 w-[500px] h-[500px] -z-[3] bg-swipe-900 absolute rounded-full opacity-60 ease-gradient animate-gradient-3"></div>
            </div>

            <div class="self-center">
                <div class="w-full my-16 sm:my-32 space-y-8">
                    <div class="space-y-2">
                        <h1 class="sr-only">
                            Mayday, Mayday !
                        </h1>
                        <h2 class="text-4xl font-bold text-center">
                            Vous avez atterri sur une page qui n'existe pas... ou plus
                        </h2>
                    </div>
                    <div class="justify-center flex space-x-8">
                        <a href="{{ path('app_homepage') }}"
                           class="text-center self-center w-auto font-bold text-omnip-purple-darker dark:text-omnip-yellow-lighter hover:text-black dark:hover:text-white transition duration-200 hover:underline"
                        >
                            Retourner sur la page d'accueil
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}